name: Workflow Build and Deploy docs to GitHub Pages

on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:

jobs:
  build-and-deploy-documentation:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Prepare
        run: |
          pip install --upgrade pip
          pip install "poetry>=1.0.0,<2.0.0" "poetry-dynamic-versioning>=1.0.0,<2.0.0"
          poetry install --with docs

      - name: Build the docs
        run: |
          cd docs
          pwd
          make html

      - name: Upload artifacts for Pages
        if: |
          github.event_name == 'push' &&
          (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build/html

      - name: Deploy to GitHub Pages
        if: |
          github.event_name == 'push' &&
          (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
        uses: actions/deploy-pages@v4
