name: PR SonarQube and Coverage reports

on:
  workflow_run:
    workflows: ["Workflow Push and Pull Request"]
    types: [completed]

permissions:
  contents: read
  pull-requests: write
  checks: write
  statuses: write

jobs:
  publish-reports:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: pytest-artifacts
          run-id: ${{ github.event.workflow_run.id }}

      - name: Publish coverage report
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          thresholdAll: 0.8

      - name: Run SonarQube analysis
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
